@model CodeShare.Model.EF.Code

@{
    ViewBag.Title = "Thêm code";
}
<div class="home" style="height: 100px">
    <!-- Home Slider -->
    <div class="home_slider_container">
    </div>
</div>
<div class="testimonials" style="background-color: #f0f0f0; font-family: Roboto,Arial,sans-serif;" ng-app="myApp">
    <div class="test_border"></div>
    <div class="container" style="max-width: 1300px" ng-controller="myCtrl">
        <div class="row">
            <div class="col-lg-8 bg-white border shadow">
                <div style="padding: 10px">
                    <h6 class="font-weight-bold text-success" style="color: black; font-size: 25px">Chia sẻ hoặc đăng bán Source Code</h6>
                    <p>
                        ShareThis sẽ phải duyệt code của bạn trong thời gian sớm nhất. Tránh tình trạng đăng code lỗi, code độc.
                    </p>
                    <form class="ui form" style="color: #5f6368; font-size: 18px">
                        <div class="two fields">
                            <div class="field">
                                <label>Ảnh đại diện <b class="text-danger">*</b></label>
                                <style>
                                    .hv:hover {
                                        border: 1px dashed green;
                                    }
                                </style>
                                <img src="~/Images/Codes/notimg.png" style="width: 100%; height: 250px; cursor: pointer" class="hv" />
                            </div>
                            <div class="field">
                                <br />
                                <i class="fa fa-check-circle text-success">&nbsp;</i> Ảnh đẹp sẽ giúp code có nhiều lượt xem <br />
                                <i class="fa fa-check-circle text-success">&nbsp;</i> Ảnh đẹp sẽ giúp bạn SEO tốt

                            </div>
                        </div>
                        <div class="field">
                            <label>Tiêu đề chính: <b class="text-danger">*</b></label>
                            <p>Tiêu để để rõ nội dung của code, không được để chung chung. Một tiêu đề hay, tỷ lệ SEO sẽ càng cao. VD: Code game c#, Website wordpress bán điện thoại,...</p>
                            <input type="text" name="code_name" placeholder="Tiêu để không quá 80 ký tự">
                            <p class="text-danger">Quyết định SEO 90%</p>
                        </div>
                        <div class="field">
                            <style>
                                .ui.form .field > .selection.dropdown {
                                    height: 0px;
                                }

                                .ck.ck-editor__editable_inline > :last-child {
                                    height: 200px;
                                }
                            </style>

                            <label>Danh mục code: <b class="text-danger">*</b></label>
                            <select class="ui fluid search dropdown" multiple="" name="category">
                                <option value="">Chọn danh mục</option>
                                @*@Html.Action("GetCategoryList", "Codes")*@
                                <option value="2">2</option>

                            </select>
                            <script>
                                $("input.myClass:search").keyup(function (key) {
                                    debugger
                                    if (key.keyCode == "13") {
                                        alert("ok");
                                    }
                                })
                            </script>
                            <p class="text-danger">Chọn tối đa 5 danh mục</p>
                        </div>
                        <div class="field">
                            <label>Mô tả code: <b class="text-danger">*</b></label>
                            <textarea name="code_introduce" class="form-control" placeholder="Mô tả ngắn về thông tin code"></textarea>
                        </div>
                        <div class="field">
                            <label>Link download: <b class="text-danger">*</b></label>
                            <input type="text" name="code_browser_downoad" placeholder="Link dùng để thành viên khác download code">
                            <p class="text-danger">Khi code có phí, sau khi bán thành công thì mới hiển thị link code này</p>
                        </div>
                        <div class="field">
                            <label>Link Demo:</label>
                            <input type="text" name="code_demo" placeholder="Link demo nếu có">
                        </div>
                        <div class="field">
                            <label>Mô tả chi tiết: <b class="text-danger">*</b></label>
                            <textarea name="code_description" class="form-control" id="mt"></textarea>
                            <script>
                                ClassicEditor
                                    .create(document.querySelector('#mt'))
                                    .catch(error => {
                                        console.error(error);
                                    });
                            </script>
                        </div>
                        <div class="field">
                            <label>Hướng dẫn cài đặt: <b class="text-danger">*</b></label>
                            <textarea class="form-control" id="cd"></textarea>
                            <script>
                                ClassicEditor
                                    .create(document.querySelector('#cd'))
                                    .catch(error => {
                                        console.error(error);
                                    });
                            </script>
                        </div>
                        <style>
                            #cr{
                                overflow-y: auto;
                                height: 100px;
                            }
                        </style>
                        <div id="cr">
                            - Mọi thông tin của thành viên đăng tải trên diễn đàn sharethis phải chính xác. <br />
                            - Mọi source code khi upload đã được build phải đảm bảo chạy tốt, mô tả đầy đủ thông tin và đúng như hình ảnh đính kèm. <br />
                            - Nội dung file nén đã được kiểm tra, đảm bảo không chứa tệp tin không khả dụng, độc hại, virus hoặc bất cứ liên kết khác... <br />
                            - File chứa code có đầy đủ file chạy, thông tin chi tiết về source, hướng dẫn cài đặt và tài khoản đăng nhập chi tiết. <br />
                            - Cam kết hỗ trợ hoặc fix lỗi nếu code >= 100Xu (Code chất lượng), khi người mua liên lạc qua email hoặc số điện thoại của bạn. <br />
                            - Tất cả source code bị báo cáo vi phạm bản quyền nếu được ban quản trị xác nhận là đúng, source code sẽ bị xóa bỏ. <br />
                            - Source code đã upload lên sharecode.vn là thành viên upload đã đồng ý cho phép các thành viên download và sử dụng.
                        </div>
                        <div class="inline field mt-2">
                            <div class="ui checkbox">
                                <input type="checkbox" name="terms">
                                <label class="font-weight-bold text-danger">Tôi đã đọc và đồng ý với các điều khoản của ShareThis</label>
                            </div>
                        </div>
                        <button class="btn btn-danger">Tải lên ngay</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 bg-white border shadow">
                @Html.Action("All", "View")
            </div>
        </div>
    </div>
</div>




<script>
    $('.ui.dropdown')
        .dropdown()
        ;
</script>