
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="home" style=" height: 250px">
    <div class="home_background parallax-window" data-parallax="scroll" style="background-image: url('../../Images/Codes/blue-dark-background-brightness-megaphone-set-windows-web-programming-language-codes-gears-vector-illustration-111990452.jpg');"></div>
</div>
<div class="testimonials" style="background-color: #f0f0f0; font-family: Roboto,Arial,sans-serif;padding-top: 22px;" ng-app="myApp">
    <div class="test_border"></div>
    <div class="container" style="max-width: 1300px" ng-controller="myCtrl">
        <div class="row">
            <div class="col-lg-8 bg-white border shadow text-dark">
                <div style="padding: 10px; font-size: 16px">
                    <h6 class="font-weight-bold text-success" style="color: black; font-size: 25px">Quản lý code cá nhân</h6>
                    <p class="text-dark font-weight-bold float-left">
                        <b>Có tổng cộng {{count}} code</b> <br />
                        Có <span class="text-danger">{{(list | filter: txtSearch).length}}</span> code được tìm thấy
                    </p>
                    <div class="ui float-right">
                        <div class="ui icon input">
                            <input class="prompt" type="text" placeholder="Nhập bất kỳ từ khóa..." ng-model="txtSearch">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <table class="table table-striped table-bordered">
                        <tr class="bg-danger text-white">
                            <td>Mã code</td>
                            <td>Ảnh</td>
                            <td>Tiêu đề</td>
                            <td>Lượt xem</td>
                            <td>Số xu</td>
                            <td>Số tiền</td>
                            <td>Tùy chọn</td>
                        </tr>
                        <tr ng-show="(list | filter: txtSearch).length == 0">
                            <td colspan="7">
                                <h4>Không có kết quả?</h4>
                            </td>
                        </tr>
                        <tr ng-repeat="list in list | filter: txtSearch">
                            <td>{{list.id}}</td>
                            <td><img src="~/Images/Codes/{{list.img}}" style="width: 50px; height: 50px" /></td>
                            <td>{{list.title}}</td>
                            <td>{{list.view}}</td>
                            <td>{{list.coin}} xu</td>
                            <td>{{list.coin * 1000}} VNĐ</td>
                            <td>
                                <a class="text-primary" href="/Codes/Details?id={{list.id}}" target="_blank"><i class="fa fa-eye"></i></a> |
                                <i class="fa fa-trash text-danger"></i> |
                                <a class="text-success" href="/Codes/Edit/{{list.id}}"><i class="fa fa-edit text-success"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-4 bg-white border shadow">
                @Html.Action("All", "View")
            </div>
        </div>
    </div>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
        $http({
            method: "GET",
            url: "/Json/Codes"
        }).then(function mySuccess(response) {
            $scope.list = response.data;
            $scope.count = $scope.list.length;
        }, function myError(response) {
            $scope.list = response.statusText;
        });
    });
</script>

