@model CodeShare.Model.EF.Language

@{
    ViewBag.Title = "Thông tin ngôn ngữ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="col-xl-12 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h5>@ViewBag.Title</h5>
            <div class="card-header-right">
                <a href="/Admin/LanguagesAdmin/Index" class="font-weight-bold mr-4">
                    <i class="fa fa-long-arrow-left text-primary"></i>TRỞ VỀ
                </a>
            </div>
        </div>
        <div class="card-block container-fluid">
            <div class="table-responsive">
                <form method="post" action="@Url.Action("Details","LanguagesAdmin",new { id = Model.language_id })" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="ui form">
                            <div class="fields two">
                                <div class="field">
                                    <label><i class="fa fa-image"></i> Hình ảnh</label>
                                    <img src="~/Images/Languages/@Model.language_img" height="80" width="80" />
                                </div>
                                <div class="field">
                                    <label><i class="fa fa-pencil"></i> Tên ngôn ngữ</label>
                                    <input type="text" value="@Model.language_name" name="language_name" />
                                </div>
                            </div>
                            <div class="ui error message"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>