
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="form-gap"></div>
<form method="post">
    <input type="text" name="ConfirmationEmail" />
    <input type="submit" value="OK" />
    @ViewBag.Sucess
    @ViewBag.Fail
</form>

