@model CodeShare.Model.EF.User

@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="home" style=" height: 250px">
    <div class="home_background parallax-window" data-parallax="scroll" style="background-image: url('../../Images/Codes/blue-dark-background-brightness-megaphone-set-windows-web-programming-language-codes-gears-vector-illustration-111990452.jpg');"></div>
</div>
<div class="testimonials" style="background-color: #f0f0f0; font-family: Roboto,Arial,sans-serif;padding-top: 22px;" ng-app="myApp">
    <div class="test_border"></div>
    <div class="container" style="max-width: 1300px" ng-controller="myCtrl">
        <div class="row">
            <div class="col-lg-8 bg-white border shadow">
                <div style="padding: 10px">
                    <h6 class="" style="color: black; font-size: 25px">Thông tin cá nhân</h6>
                    <p>
                        Một số thông tin có thể hiển thị cho những người khác đang sử dụng dịch vụ của ShareThis.
                    </p>
                    <table class="table table-hover" style="color: #5f6368; font-size: 16px; cursor: pointer" ng-repeat="list in list" id="default">
                        <tr data-toggle="modal" data-target="#img">
                            <td>
                                ẢNH
                            </td>
                            <td>
                                Một bức ảnh tuyệt vời
                            </td>
                            <td class="text-right" width="20%">
                                <style>
                                    .hv:hover {
                                        border: 1px dashed green;
                                    }
                                </style>
                                @if (Model.user_img == null)
                                {
                                    <img data-toggle="modal" data-target="#img" src="~/Images/Users/notimg.png" style="width: 35px; height: 35px; border-radius: 50%" class="hv" />
                                }
                                else
                                {
                                    <img data-toggle="modal" data-target="#img" src="~/Images/Users/@Model.user_img" style="width: 35px; height: 35px; border-radius: 50%" class="hv" />
                                }
                                <!-- Modal -->
                                <div class="modal fade" id="img" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header bg-success">
                                                <h5 class="modal-title text-white" id="exampleModalLabel">Thay đổi ảnh cá nhân</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="@Url.Action("EditImages","Users")" enctype="multipart/form-data" method="post">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <img data-toggle="modal" data-target="#img" id="output_image" src="~/Images/Users/notimg.png" style="width: 100%; height: 200px;" class="hv" />
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <input name="IMG" accept="image/*" onchange="preview_image(event)" type="file" class="form-control shadow" style="height: 130px; border: 1px solid green" />
                                                            <p class="text-danger">Chọn hình ảnh cá nhân và bấm thay đổi ảnh.</p>
                                                        </div>
                                                        <script>
                                                            function preview_image(event) {
                                                                var reader = new FileReader();
                                                                reader.onload = function () {
                                                                    var output = document.getElementById('output_image');
                                                                    output.src = reader.result;
                                                                }
                                                                reader.readAsDataURL(event.target.files[0]);
                                                            }
                                                        </script>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                        <button type="submit" class="btn btn-primary"><i class="fa fa-image">&nbsp;</i>Thay đổi ảnh cá nhân</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr style="cursor: not-allowed">
                            <td>
                                EMAIL
                            </td>
                            <td>
                                vuongbaot@gmail.com
                            </td>
                            <td class="text-right">
                                <i class="fa fa-angle-right"></i>
                            </td>
                        </tr>
                        <tr ng-click="name()" style="cursor: pointer">
                            <td>
                                TÊN HIỂN THỊ
                            </td>
                            <td>
                                {{list.name}}
                            </td>
                            <td class="text-right">
                                <i class="fa fa-angle-right"></i>
                            </td>
                        </tr>
                        <tr ng-click="sex()">
                            <td>
                                GIỚI TÍNH
                            </td>
                            <td>
                                <div ng-show="list.sex == true">
                                    <span>Nam</span>
                                </div>
                                <div ng-show="list.sex == false">
                                    <span>Nữ</span>
                                </div>
                            </td>
                            <td class="text-right">
                                <i class="fa fa-angle-right"></i>
                            </td>
                        </tr>
                        <tr ng-click="phone()">
                            <td>
                                SỐ ĐIỆN THOẠI
                            </td>
                            <td>
                                <div ng-show="list.phone == null">
                                    Cập nhật số điện thoại
                                </div>
                                <div ng-show="list.phone != null">
                                    {{list.phone}}
                                </div>
                            </td>
                            <td class="text-right">
                                <i class="fa fa-angle-right"></i>
                            </td>
                        </tr>
                        <tr onclick="window.location.href='/Users/ResetPassword'">
                            <td>
                                MẬT KHẨU
                            </td>
                            <td>
                                •••••••• <br />
                                <p>Thay đổi lần gần đây: {{list.update}}</p>
                            </td>
                            <td class="text-right">
                                <i class="fa fa-angle-right"></i>
                            </td>
                        </tr>
                        <tr ng-click="fa()">
                            <td>
                                SỞ THÍCH
                            </td>
                            <td>
                                <div ng-show="list.fa == null">
                                    Cập nhật sở thích
                                </div>
                                <div ng-show="list.fa != null">
                                    {{list.fa}}
                                </div>
                            </td>
                            <td class="text-right" width="20%">
                                <i class="fa fa-angle-right"></i>
                            </td>
                        </tr>
                        @*<tr>
                            <td>
                                CODE YÊU THÍCH
                            </td>
                            <td>
                                {{list.codefavorite}}
                            </td>
                            <td class="text-right">
                                <i class="fa fa-angle-right"></i>
                            </td>
                        </tr>*@
                        
                    </table>
                    <!--Sửa tên hiển thị-->
                    <table class="table bg-secondary text-white rounded" id="name" ng-repeat="list in list" style="display: none">
                        <tr>
                            <td colspan="3">
                                <h3 class=""><i class="fa fa-arrow-circle-o-left" style="cursor: pointer" ng-click="left()">&nbsp;</i>Thay đổi tên hiển thị</h3>
                                <p class="text-white">Tên phải trên 5 ký tự và không vượt quá 50 ký tự. Tên mang ý nghĩa tục tiểu sẽ bị cấm sử dụng tài khoản.</p>
                                <label class="font-weight-bold">Nhập tên:</label>
                                <input placeholder="Nhập tên hiển thị" class="form-control" value="{{list.name}}" name="name" />
                                <br />
                                <button ng-click="editname()" class="btn btn-danger"><i class="fa fa-save">&nbsp;</i>Chấp nhận</button>
                            </td>
                        </tr>
                    </table>
                    @*Ngày sinh
                    <table class="table bg-secondary text-white rounded" id="birth" ng-repeat="list in list" style="display: none">
                        <tr>
                            <td colspan="3">
                                <h3 class=""><i class="fa fa-arrow-circle-o-left" style="cursor: pointer" ng-click="left()">&nbsp;</i>Thay đổi ngày sinh</h3>
                                <p class="text-white">Chọn rõ ngày sinh của bạn.</p>
                                <label class="font-weight-bold">Chọn ngày sinh:</label>
                                <input placeholder="" type="date" class="form-control" value="{{list.birth}}" name="birth" />
                                <br />
                                <button ng-click="editname()" class="btn btn-danger"><i class="fa fa-save">&nbsp;</i>Chấp nhận</button>
                            </td>
                        </tr>
                    </table>*@
                    <!--Gioi tinh-->
                    <table class="table bg-secondary text-white rounded" id="sex" ng-repeat="list in list" style="display: none">
                        <tr>
                            <td colspan="3">
                                <h3 class=""><i class="fa fa-arrow-circle-o-left" style="cursor: pointer" ng-click="left()">&nbsp;</i>Thay đổi giới tính</h3>
                                <p class="text-white">Đổi giới tính.</p>
                                <label class="font-weight-bold">Chọn giới tính:</label>
                                <div ng-show="list.sex == true">
                                    <select class="form-control" name="sex">
                                        <option selected value="true">Nam</option>
                                        <option value="false">Nữ</option>
                                    </select>
                                </div>
                                <div ng-show="list.sex == false">
                                    <select class="form-control" name="sex">
                                        <option value="true">Nam</option>
                                        <option selected value="false">Nữ</option>
                                    </select>
                                </div>
                                <br />
                                <button ng-click="editsex()" class="btn btn-danger"><i class="fa fa-save">&nbsp;</i>Chấp nhận</button>
                            </td>
                        </tr>
                    </table>
                    <!--Phone-->
                    <table class="table bg-secondary text-white rounded" id="phone" ng-repeat="list in list" style="display: none">
                        <tr>
                            <td colspan="3">
                                <h3 class=""><i class="fa fa-arrow-circle-o-left" style="cursor: pointer" ng-click="left()">&nbsp;</i>Thay đổi số điện thoại</h3>
                                <p class="text-white">Đổi điện thoại.</p>
                                <label class="font-weight-bold">Số điện thoại:</label>
                                <input placeholder="Nhập số điện thoại" class="form-control" value="{{list.phone}}" name="phone" />
                                <br />
                                <button ng-click="editphone()" class="btn btn-danger"><i class="fa fa-save">&nbsp;</i>Chấp nhận</button>
                            </td>
                        </tr>
                    </table>
                    <table class="table bg-secondary text-white rounded" id="fa" ng-repeat="list in list" style="display: none">
                        <tr>
                            <td colspan="3">
                                <h3 class=""><i class="fa fa-arrow-circle-o-left" style="cursor: pointer" ng-click="left()">&nbsp;</i>Thay đổi sở thích</h3>
                                <p class="text-white">Đổi sở thích.</p>
                                <label class="font-weight-bold">Sở thích:</label>
                                <textarea name="fa" style="height: 200px" class="form-control" placeholder="Nhập sở thích"></textarea>
                                <p class="text-white">Nhập sở thích cá nhân của bạn như thích viết code, thích đọc sách,....</p>
                                <br />
                                <button ng-click="editfa()" class="btn btn-danger"><i class="fa fa-save">&nbsp;</i>Chấp nhận</button>
                            </td>
                        </tr>
                    </table>
                    @*<table class="table bg-secondary text-white rounded" id="facode" ng-repeat="list in list"  ng-controller="myFa">
                        <tr>
                            <td colspan="3">
                                <h3 class=""><i class="fa fa-arrow-circle-o-left" style="cursor: pointer" ng-click="left()">&nbsp;</i>Thay đổi ngôn ngữ lập trình yêu thích</h3>
                                <p class="text-white">Đổi ngôn ngữ lập trình yêu thích.</p>
                                <label class="font-weight-bold">Phân loại yêu thích:</label>
                                <select class="form-control" ng-controller="myLa">
                                    <option value="">Chọn ngôn ngữ yêu thích</option>
                                    <option ng-repeat="la in la" value="{{la.id}}">{{la.name}}</option>
                                </select>
                                <button ng-click="createla()" class="btn btn-success mt-2" style="float: right">Chọn</button>
                                <br />
                                <table class="table mt-5">
                                    <tr class="text-white bg-danger" style="font-weight: bold">
                                        <td>Phân loại yêu thích</td>
                                        <td>Tùy chọn</td>
                                    </tr>
                                    <tr class="text-dark" ng-show="countfa == 0">
                                        <td colspan="3">
                                            Không có yêu thích nào
                                        </td>
                                    </tr>
                                    <tr class="text-dark" ng-show="countfa != 0"  ng-repeat="fa in fa">
                                        <td>{{fa.name}}</td>
                                        <td>
                                            <i class="fa fa-trash text-danger">&nbsp;</i>
                                        </td>
                                    </tr>
                                </table>
                                <br />
                            </td>
                        </tr>
                    </table>*@
                    <img src="~/Images/Codes/Chụp web_28-3-2021_111122_sharecode.vn.jpeg" class="w-100"/>
                </div>
            </div>
            <div class="col-lg-4 bg-white border shadow">
                @Html.Action("All", "View")
            </div>
        </div>
    </div>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
        $http({
            method: "GET",
            url: "/Json/Users"
        }).then(function mySuccess(response) {
            $scope.list = response.data;


            $scope.name = function () {
                reset()
                document.getElementById("name").style = "";
                document.getElementById("default").style = "display: none";
            }

            $scope.editname = function () {
                var name = document.getElementsByName("name")[0].value;
                reset()
                $http({
                    method: "GET",
                    url: "/Users/EditAll?name=" + name
                }).then(function mySuccess(response) {
                    $scope.list = response.data;
                }, function myError(response) {
                    $scope.list = response.statusText;
                });

                document.getElementById("name").style = "display: none";
                document.getElementById("default").style = "color: #5f6368; font-size: 16px; cursor: pointer";

            }

            //sex
            $scope.sex = function () {
                reset()
                document.getElementById("sex").style = "";
                document.getElementById("default").style = "display: none";
            }
            $scope.editsex = function () {
                var sex = document.getElementsByName("sex")[0].value;
                reset()
                $http({
                    method: "GET",
                    url: "/Users/EditAll?sex=" + sex
                }).then(function mySuccess(response) {
                    $scope.list = response.data;
                }, function myError(response) {
                    $scope.list = response.statusText;
                });

                document.getElementById("name").style = "display: none";
                document.getElementById("default").style = "color: #5f6368; font-size: 16px; cursor: pointer";

            }

            //phone
            $scope.phone = function () {
                reset()
                document.getElementById("phone").style = "";
                document.getElementById("default").style = "display: none";
            }
            $scope.editphone = function () {
                var phone = document.getElementsByName("phone")[0].value;
                reset()
                $http({
                    method: "GET",
                    url: "/Users/EditAll?phone=" + phone
                }).then(function mySuccess(response) {
                    $scope.list = response.data;
                }, function myError(response) {
                    $scope.list = response.statusText;
                });

                document.getElementById("name").style = "display: none";
                document.getElementById("default").style = "color: #5f6368; font-size: 16px; cursor: pointer";

            }
            //fa
            $scope.fa = function () {
                reset()
                document.getElementById("fa").style = "";
                document.getElementById("default").style = "display: none";
            }
            $scope.editfa = function () {
                var fa = document.getElementsByName("fa")[0].value;
                reset()
                $http({
                    method: "GET",
                    url: "/Users/EditAll?fa=" + fa
                }).then(function mySuccess(response) {
                    $scope.list = response.data;
                }, function myError(response) {
                    $scope.list = response.statusText;
                });

                document.getElementById("fa").style = "display: none";
                document.getElementById("default").style = "color: #5f6368; font-size: 16px; cursor: pointer";

            }






            $scope.left = function () {
                reset()
                document.getElementById("name").style = "display: none";
                document.getElementById("default").style = "color: #5f6368; font-size: 16px; cursor: pointer";
            }


            function reset() {
                document.getElementById("name").style = "display: none";
                document.getElementById("birth").style = "display: none";
                document.getElementById("sex").style = "display: none";
                document.getElementById("phone").style = "display: none";
                document.getElementById("fa").style = "display: none";
            }


        }, function myError(response) {
            $scope.list = response.statusText;
        });
    });
    app.controller('myLa', function ($scope, $http) {
        $http({
            method: "GET",
            url: "/Json/Language"
        }).then(function mySuccess(response) {
            $scope.la= response.data;
        }, function myError(response) {
            $scope.la = response.statusText;
        });
    });

    app.controller('myFa', function ($scope, $http) {
        $http({
            method: "GET",
            url: "/Json/fa"
        }).then(function mySuccess(response) {
            $scope.fa = response.data;
            $scope.countfa = $scope.fa.length;

            $scope.createla = function (id) {
                $http({
                    method: "GET",
                    url: "/Users/FaCode?id=" + id
                }).then(function mySuccess(response) {
                   $scope.fa = response.data;
                }, function myError(response) {
                    $scope.myWelcome = response.statusText;
                });
            }




        }, function myError(response) {
            $scope.fa = response.statusText;
        });
    });
</script>