@using CodeShare.Frontend.Functions;
@{
    FunctionsController functions = new FunctionsController();
    var cookie = functions.CookieID();

    ViewBag.Title = "Đổi mật khẩu";
}

<div class="home" style=" height: 250px">
    <div class="home_background parallax-window" data-parallax="scroll" style="background-image: url('../../Images/Codes/blue-dark-background-brightness-megaphone-set-windows-web-programming-language-codes-gears-vector-illustration-111990452.jpg');"></div>
</div>
<div class="testimonials" style="background-color: #f0f0f0; font-family: Roboto,Arial,sans-serif;padding-top: 22px;" ng-app="myApp">
    <div class="test_border"></div>
    <div class="container" style="max-width: 1300px" ng-controller="myCtrl">
        <div class="row">
            <div class="col-lg-8 bg-white border shadow">
                <form action="@Url.Action("ResetPassword","Users")" class="ui form mt-3" method="post" enctype="multipart/form-data" style="padding: 10px">
                    <h6 class="text-uppercase text-success font-weight-bold" style="color: black; font-size: 25px"><i class="fa fa-key"></i> Đổi mật khẩu</h6>
                    <div class="field mt-3">
                        <label>Mật khẩu cũ</label>
                        <input type="password" name="OldPassword">
                    </div>
                    <div class="field">
                        <label>Mật khẩu mới</label>
                        <input type="password" name="NewPassword">
                    </div>
                    <div class="field">
                        <label>Xác nhận mật khẩu</label>
                        <input type="password" name="ConfirmPassword">
                    </div>
                    <div class="ui error message"></div>
                    <div class="mt-1 font-weight-bold" style="color: red">@ViewBag.Check</div>
                    <button class="btn btn-danger text-capitalize font-weight-bold float-right mt-2" type="submit">Đổi mật khẩu</button>
                </form>
            </div>
            <div class="col-lg-4 bg-white border shadow">
                @Html.Action("All", "View")
            </div>
        </div>
    </div>
</div>

<script>
    $('.ui.form')
        .form({
            inline: true,
            on: 'blur',
            fields: {
                // Người Dùng
                OldPassword: {
                    identifier: 'OldPassword',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Vui lòng nhập mật khẩu!'
                        },
                        {
                            type: 'minLength[6]',
                            prompt: 'Mật khẩu phải có ít nhất 6 ký tự!'
                        }
                    ]
                },
                NewPassword: {
                    identifier: 'NewPassword',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Vui lòng nhập mật khẩu mới!'
                        },
                        {
                            type: 'minLength[6]',
                            prompt: 'Mật khẩu mới phải có ít nhất 6 ký tự!'
                        }
                    ]
                },
                ConfirmPassword: {
                    identifier: 'ConfirmPassword',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Vui lòng nhập xác nhận mật khẩu!'
                        },
                        {
                            type: 'match[NewPassword]',
                            prompt: 'Mật khẩu xác nhận chưa đúng!'
                        }
                    ]
                },
            }
        })
        ;
</script>

