@using CodeShare.Frontend.Functions;
@{
    FunctionsController functions = new FunctionsController();
    var cookie = functions.CookieID();
    ViewBag.Title = "ResetPassword";
}

<div class="home" style=" height: 250px">
    <div class="home_background parallax-window" data-parallax="scroll" style="background-image: url('../../Images/Codes/blue-dark-background-brightness-megaphone-set-windows-web-programming-language-codes-gears-vector-illustration-111990452.jpg');"></div>
</div>
<div class="testimonials" style="background-color: #f0f0f0; font-family: Roboto,Arial,sans-serif;padding-top: 22px;" ng-app="myApp">
    <div class="test_border"></div>
    <div class="container" style="max-width: 1300px" ng-controller="myCtrl">
        <div class="row">
            <div class="col-lg-8 bg-white border shadow">
                <form action="" class="ui form" method="post" enctype="multipart/form-data" style="padding: 10px">

                    <h6 class="" style="color: black; font-size: 25px">Đổi mật khẩu</h6>
                    <p>
                        Thay đổi mật khẩu cá nhân
                    </p>
                    <div class="field">
                        <label>Mật khẩu cũ</label>
                        <input type="password" name="password">
                    </div>
                    <div class="field">
                        <label>Mật khẩu mới</label>
                        <input type="password" name="password">
                    </div>
                    <div class="field">
                        <label>Xác nhận mật khẩu</label>
                        <input type="password" name="password">
                    </div>
                    <button class="btn btn-danger"><i class="fa fa-key">&nbsp;</i>Đổi mật khẩu</button>


                </form>
            </div>
            <div class="col-lg-4 bg-white border shadow">
                @Html.Action("All", "View")
            </div>
        </div>
    </div>
</div>

