USE [master]
GO
/****** Object:  Database [CodeShareData]    Script Date: 24-Mar-21 5:33:37 PM ******/
CREATE DATABASE [CodeShareData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CodeShareData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\CodeShareData.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CodeShareData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\CodeShareData_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CodeShareData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CodeShareData]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 24-Mar-21 5:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[banner_id] [int] IDENTITY(1,1) NOT NULL,
	[banner_name] [nvarchar](50) NULL,
	[banner_svg] [nvarchar](max) NULL,
	[banner_datecreate] [datetime] NULL,
	[banner_update] [datetime] NULL,
	[banner_active] [bit] NULL,
	[banner_bin] [bit] NULL,
	[banner_option] [bit] NULL,
 CONSTRAINT [PK_Banners] PRIMARY KEY CLUSTERED 
(
	[banner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CategoryGroup]    Script Date: 24-Mar-21 5:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryGroup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[code_id] [int] NULL,
	[post_id] [int] NULL,
	[datecreate] [datetime] NULL,
 CONSTRAINT [PK_CategoryGroup] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categorys]    Script Date: 24-Mar-21 5:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorys](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](200) NULL,
	[category_datecreate] [datetime] NULL,
	[category_update] [datetime] NULL,
	[category_bin] [bit] NULL,
	[category_active] [bit] NULL,
	[category_option] [bit] NULL,
	[user_id] [int] NULL,
 CONSTRAINT [PK_Categorys] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Chats]    Script Date: 24-Mar-21 5:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chats](
	[chat_id] [int] IDENTITY(1,1) NOT NULL,
	[chat_content] [nvarchar](max) NULL,
	[chat_datecreate] [datetime] NULL,
	[chat_update] [datetime] NULL,
	[chat_active] [bit] NULL,
	[chat_bin] [bit] NULL,
	[chat_option] [bit] NULL,
	[chat_idtake] [int] NULL,
	[chat_send] [int] NULL,
	[chat_stt] [int] NULL,
 CONSTRAINT [PK_Chats] PRIMARY KEY CLUSTERED 
(
	[chat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Codes]    Script Date: 24-Mar-21 5:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Codes](
	[code_id] [int] IDENTITY(1,1) NOT NULL,
	[code_name] [nvarchar](500) NULL,
	[code_img] [nvarchar](max) NULL,
	[code_description] [nvarchar](max) NULL,
	[code_capacity] [varchar](10) NULL,
	[code_link] [nvarchar](max) NULL,
	[code_coin] [int] NULL,
	[code_view] [int] NULL,
	[code_active] [bit] NULL,
	[code_bin] [bit] NULL,
	[code_option] [bit] NULL,
	[code_datecreate] [datetime] NULL,
	[code_update] [datetime] NULL,
	[code_introduce] [nvarchar](500) NULL,
	[code_down] [nvarchar](max) NULL,
	[code_browser_demo] [bit] NULL,
	[code_demo] [nvarchar](max) NULL,
	[code_point_refer] [int] NULL,
	[code_point_quality] [int] NULL,
	[code_browser_downoad] [bit] NULL,
	[code_browser_error] [bit] NULL,
	[code_browser_quality] [bit] NULL,
	[banner_id] [int] NULL,
	[form_id] [int] NULL,
	[user_id] [int] NULL,
 CONSTRAINT [PK_Codes] PRIMARY KEY CLUSTERED 
(
	[code_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 24-Mar-21 5:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[course_name] [nvarchar](200) NULL,
	[course_img] [nvarchar](max) NULL,
	[course_content] [nvarchar](max) NULL,
	[course_view] [int] NULL,
	[course_datecreate] [datetime] NULL,
	[course_update] [datetime] NULL,
	[course_active] [bit] NULL,
	[course_bin] [bit] NULL,
	[course_option] [bit] NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 24-Mar-21 5:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_phone] [varchar](12) NULL,
	[customer_favourite] [nvarchar](200) NULL,
	[customer_birth] [datetime] NULL,
	[customer_note] [nvarchar](200) NULL,
	[customer_address] [nvarchar](200) NULL,
	[customer_view] [int] NULL,
	[user_id] [int] NULL,
	[customer_bin] [bit] NULL,
	[customer_active] [bit] NULL,
	[customer_option] [bit] NULL,
	[customer_datecreate] [datetime] NULL,
	[customer_update] [datetime] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Denominations]    Script Date: 24-Mar-21 5:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Denominations](
	[denomination_id] [int] IDENTITY(1,1) NOT NULL,
	[denomination_price] [varchar](300) NULL,
	[denomination_coin] [int] NULL,
	[denomination_content] [nvarchar](max) NULL,
	[denomination_active] [bit] NULL,
	[denomination_option] [bit] NULL,
	[denomination_bin] [bit] NULL,
	[denomination_datecreate] [datetime] NULL,
	[denomination_update] [datetime] NULL,
 CONSTRAINT [PK_Denominations] PRIMARY KEY CLUSTERED 
(
	[denomination_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Events]    Script Date: 24-Mar-21 5:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[event_id] [int] IDENTITY(1,1) NOT NULL,
	[event_name] [nvarchar](500) NULL,
	[event_img] [nvarchar](max) NULL,
	[event_content] [nvarchar](max) NULL,
	[event_slogan] [nvarchar](500) NULL,
	[event_datecreate] [datetime] NULL,
	[event_update] [datetime] NULL,
	[event_active] [bit] NULL,
	[event_bin] [bit] NULL,
	[event_option] [bit] NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Favourites]    Script Date: 24-Mar-21 5:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favourites](
	[favourite_id] [int] IDENTITY(1,1) NOT NULL,
	[favourite_datecreate] [datetime] NULL,
	[user_id] [int] NULL,
	[code_id] [int] NULL,
 CONSTRAINT [PK_Favourites] PRIMARY KEY CLUSTERED 
(
	[favourite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Forms]    Script Date: 24-Mar-21 5:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forms](
	[form_id] [int] IDENTITY(1,1) NOT NULL,
	[form_name] [nvarchar](200) NULL,
	[form_datecreate] [datetime] NULL,
	[form_update] [datetime] NULL,
	[form_active] [bit] NULL,
	[form_bin] [bit] NULL,
	[form_option] [bit] NULL,
 CONSTRAINT [PK_Forms] PRIMARY KEY CLUSTERED 
(
	[form_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[History_Chats]    Script Date: 24-Mar-21 5:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History_Chats](
	[hc_id] [int] IDENTITY(1,1) NOT NULL,
	[hc_datecreate] [datetime] NULL,
	[hc_idtake] [int] NULL,
	[hc_idsend] [int] NULL,
 CONSTRAINT [PK_History_Chats] PRIMARY KEY CLUSTERED 
(
	[hc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Knowledge_Categorys]    Script Date: 24-Mar-21 5:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Knowledge_Categorys](
	[kc_id] [int] IDENTITY(1,1) NOT NULL,
	[kc_name] [nvarchar](200) NULL,
	[kc_datecreate] [datetime] NULL,
	[kc_update] [datetime] NULL,
	[kc_active] [bit] NULL,
	[kc_bin] [bit] NULL,
	[kc_option] [bit] NULL,
 CONSTRAINT [PK_Knowledge_Categorys] PRIMARY KEY CLUSTERED 
(
	[kc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Programming_Knowledges]    Script Date: 24-Mar-21 5:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programming_Knowledges](
	[pk_id] [int] IDENTITY(1,1) NOT NULL,
	[pk_name] [nvarchar](500) NULL,
	[pk_img] [nvarchar](max) NULL,
	[pk_content] [nvarchar](max) NULL,
	[pk_datecreate] [datetime] NULL,
	[pk_update] [datetime] NULL,
	[pk_active] [bit] NULL,
	[pk_bin] [bit] NULL,
	[pk_option] [bit] NULL,
 CONSTRAINT [PK_Programming_Knowledges] PRIMARY KEY CLUSTERED 
(
	[pk_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tags]    Script Date: 24-Mar-21 5:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[tag_id] [int] IDENTITY(1,1) NOT NULL,
	[tag_name] [nvarchar](200) NULL,
	[tag_datecreate] [datetime] NULL,
	[tag_update] [datetime] NULL,
	[tag_active] [bit] NULL,
	[tag_bin] [bit] NULL,
	[tag_option] [bit] NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 24-Mar-21 5:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](100) NULL,
	[user_img] [nvarchar](max) NULL,
	[user_email] [varchar](200) NULL,
	[user_pass] [nvarchar](max) NULL,
	[user_coin] [varchar](300) NULL,
	[user_token] [nvarchar](max) NULL,
	[user_datecreate] [datetime] NULL,
	[user_update] [datetime] NULL,
	[user_datelogin] [datetime] NULL,
	[user_code] [nvarchar](200) NULL,
	[user_active] [bit] NULL,
	[user_option] [bit] NULL,
	[user_bin] [bit] NULL,
	[user_dateofbirth] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Withdrawals]    Script Date: 24-Mar-21 5:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Withdrawals](
	[withdrawal_id] [int] IDENTITY(1,1) NOT NULL,
	[withdrawal_coin] [int] NULL,
	[withdrawal_datecreate] [datetime] NULL,
	[withdrawal_update] [datetime] NULL,
	[withdrawal_email] [varchar](200) NULL,
	[withdrawal_tel] [varchar](12) NULL,
	[withdrawal_active] [bit] NULL,
	[withdrawal_bin] [bit] NULL,
	[withdrawal_option] [bit] NULL,
	[user_id] [int] NULL,
 CONSTRAINT [PK_Withdrawals] PRIMARY KEY CLUSTERED 
(
	[withdrawal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Banners] ON 

SET IDENTITY_INSERT [dbo].[Banners] OFF
SET IDENTITY_INSERT [dbo].[Categorys] ON 

INSERT [dbo].[Categorys] ([category_id], [category_name], [category_datecreate], [category_update], [category_bin], [category_active], [category_option], [user_id]) VALUES (4, N'Android', CAST(N'2021-01-23 00:00:00.000' AS DateTime), CAST(N'2021-01-23 00:00:00.000' AS DateTime), 0, 1, 0, NULL)
INSERT [dbo].[Categorys] ([category_id], [category_name], [category_datecreate], [category_update], [category_bin], [category_active], [category_option], [user_id]) VALUES (5, N'IOS', CAST(N'2021-01-23 00:00:00.000' AS DateTime), CAST(N'2021-01-23 00:00:00.000' AS DateTime), 0, 1, 1, NULL)
INSERT [dbo].[Categorys] ([category_id], [category_name], [category_datecreate], [category_update], [category_bin], [category_active], [category_option], [user_id]) VALUES (6, N'Windowns phone', CAST(N'2021-01-23 00:00:00.000' AS DateTime), CAST(N'2021-01-23 00:00:00.000' AS DateTime), 0, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Categorys] OFF
SET IDENTITY_INSERT [dbo].[Chats] ON 

INSERT [dbo].[Chats] ([chat_id], [chat_content], [chat_datecreate], [chat_update], [chat_active], [chat_bin], [chat_option], [chat_idtake], [chat_send], [chat_stt]) VALUES (2, N'hi', CAST(N'2020-12-23 00:00:00.000' AS DateTime), CAST(N'2020-12-23 00:00:00.000' AS DateTime), 0, 0, 0, 1049, 1049, NULL)
SET IDENTITY_INSERT [dbo].[Chats] OFF
SET IDENTITY_INSERT [dbo].[Codes] ON 

SET IDENTITY_INSERT [dbo].[Codes] OFF
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([course_id], [course_name], [course_img], [course_content], [course_view], [course_datecreate], [course_update], [course_active], [course_bin], [course_option]) VALUES (2, N'C#', N'85c72dac-022b-4d36-8a78-c058a43e2e5c102941-chuyen-host-doi-domain-duplicator 1.png', N'<p>code</p>', 1, CAST(N'2021-03-16 00:00:00.000' AS DateTime), CAST(N'2021-03-18 09:59:01.873' AS DateTime), 1, 0, 1)
INSERT [dbo].[Courses] ([course_id], [course_name], [course_img], [course_content], [course_view], [course_datecreate], [course_update], [course_active], [course_bin], [course_option]) VALUES (4, N'C#', N'ff9f992f-4ce5-48d7-af29-df1dc88bfc44223424-Thiet-ke-website.png', N'<p>code</p>', 1, CAST(N'2021-03-16 00:00:00.000' AS DateTime), CAST(N'2021-03-18 09:59:49.870' AS DateTime), 1, 0, 1)
INSERT [dbo].[Courses] ([course_id], [course_name], [course_img], [course_content], [course_view], [course_datecreate], [course_update], [course_active], [course_bin], [course_option]) VALUES (5, N'C#', N'notimg.png', N'<p>code</p>', 1, CAST(N'2021-03-19 12:24:53.817' AS DateTime), CAST(N'2021-03-19 12:24:53.817' AS DateTime), 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Courses] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([customer_id], [customer_phone], [customer_favourite], [customer_birth], [customer_note], [customer_address], [customer_view], [user_id], [customer_bin], [customer_active], [customer_option], [customer_datecreate], [customer_update]) VALUES (2, N'0869139879', N'code', CAST(N'1999-07-02 00:00:00.000' AS DateTime), N'code', N'Phú An', 1, 1, 0, 1, 1, CAST(N'2020-12-02 00:00:00.000' AS DateTime), CAST(N'2020-12-02 00:00:00.000' AS DateTime))
INSERT [dbo].[Customers] ([customer_id], [customer_phone], [customer_favourite], [customer_birth], [customer_note], [customer_address], [customer_view], [user_id], [customer_bin], [customer_active], [customer_option], [customer_datecreate], [customer_update]) VALUES (3, N'0869139879', N'code', CAST(N'1999-07-02 00:00:00.000' AS DateTime), N'code', N'Phú An', 1, 3, 0, 1, 1, CAST(N'2021-03-19 00:00:00.000' AS DateTime), CAST(N'2021-03-19 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[Denominations] ON 

INSERT [dbo].[Denominations] ([denomination_id], [denomination_price], [denomination_coin], [denomination_content], [denomination_active], [denomination_option], [denomination_bin], [denomination_datecreate], [denomination_update]) VALUES (1, N'20000', 20, NULL, 1, 1, 0, CAST(N'2021-03-16 23:41:06.330' AS DateTime), CAST(N'2021-03-19 12:20:47.157' AS DateTime))
INSERT [dbo].[Denominations] ([denomination_id], [denomination_price], [denomination_coin], [denomination_content], [denomination_active], [denomination_option], [denomination_bin], [denomination_datecreate], [denomination_update]) VALUES (2, N'50000', 50, NULL, 1, 1, 0, CAST(N'2021-03-16 23:41:32.810' AS DateTime), CAST(N'2021-03-16 23:41:32.810' AS DateTime))
INSERT [dbo].[Denominations] ([denomination_id], [denomination_price], [denomination_coin], [denomination_content], [denomination_active], [denomination_option], [denomination_bin], [denomination_datecreate], [denomination_update]) VALUES (3, N'100000', 100, NULL, 1, 1, 0, CAST(N'2021-03-16 23:41:43.297' AS DateTime), CAST(N'2021-03-16 23:41:43.297' AS DateTime))
SET IDENTITY_INSERT [dbo].[Denominations] OFF
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([event_id], [event_name], [event_img], [event_content], [event_slogan], [event_datecreate], [event_update], [event_active], [event_bin], [event_option]) VALUES (2, N'code', N'6235642e-c052-4e08-b43a-256b28211d6abg.jpg', NULL, N'code', CAST(N'2020-12-22 00:00:00.000' AS DateTime), CAST(N'2021-03-18 09:40:54.193' AS DateTime), 1, 0, 1)
INSERT [dbo].[Events] ([event_id], [event_name], [event_img], [event_content], [event_slogan], [event_datecreate], [event_update], [event_active], [event_bin], [event_option]) VALUES (3, N'[SIÊU KHUYẾN MÃI] Dịch vụ máy chủ MUA 1 TẶNG 1 đến hết 29/02', N'notimg.png', N'<p>code</p>', N'SALE', CAST(N'2021-03-19 12:29:59.713' AS DateTime), CAST(N'2021-03-19 12:29:59.713' AS DateTime), 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Events] OFF
SET IDENTITY_INSERT [dbo].[Favourites] ON 

INSERT [dbo].[Favourites] ([favourite_id], [favourite_datecreate], [user_id], [code_id]) VALUES (1, CAST(N'2021-12-22 00:00:00.000' AS DateTime), 1, 9)
SET IDENTITY_INSERT [dbo].[Favourites] OFF
SET IDENTITY_INSERT [dbo].[Forms] ON 

INSERT [dbo].[Forms] ([form_id], [form_name], [form_datecreate], [form_update], [form_active], [form_bin], [form_option]) VALUES (1, N'Miễn phí', CAST(N'2020-12-23 00:00:00.000' AS DateTime), CAST(N'2020-12-23 00:00:00.000' AS DateTime), 1, 0, 1)
INSERT [dbo].[Forms] ([form_id], [form_name], [form_datecreate], [form_update], [form_active], [form_bin], [form_option]) VALUES (2, N'Trả phí', CAST(N'2020-12-23 00:00:00.000' AS DateTime), CAST(N'2020-12-23 00:00:00.000' AS DateTime), 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Forms] OFF
SET IDENTITY_INSERT [dbo].[Knowledge_Categorys] ON 

INSERT [dbo].[Knowledge_Categorys] ([kc_id], [kc_name], [kc_datecreate], [kc_update], [kc_active], [kc_bin], [kc_option]) VALUES (1, N'Tin tức công nghệ', CAST(N'2021-03-03 00:00:00.000' AS DateTime), CAST(N'2021-03-03 00:00:00.000' AS DateTime), 1, 0, 1)
INSERT [dbo].[Knowledge_Categorys] ([kc_id], [kc_name], [kc_datecreate], [kc_update], [kc_active], [kc_bin], [kc_option]) VALUES (2, N'Android', CAST(N'2021-03-17 11:39:22.330' AS DateTime), CAST(N'2021-03-17 11:39:22.330' AS DateTime), 1, 0, 1)
INSERT [dbo].[Knowledge_Categorys] ([kc_id], [kc_name], [kc_datecreate], [kc_update], [kc_active], [kc_bin], [kc_option]) VALUES (3, N'Asp/Asp.net', CAST(N'2021-03-17 11:42:22.723' AS DateTime), CAST(N'2021-03-17 11:42:22.723' AS DateTime), 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Knowledge_Categorys] OFF
SET IDENTITY_INSERT [dbo].[Programming_Knowledges] ON 

INSERT [dbo].[Programming_Knowledges] ([pk_id], [pk_name], [pk_img], [pk_content], [pk_datecreate], [pk_update], [pk_active], [pk_bin], [pk_option]) VALUES (6, N'Dịch vụ THIẾT KẾ WEBSITE Chuyên nghiệp với giá CỰC RẺ và nhiều ưu đãi tại CodeShare', N'515a0d82-5e9f-45fc-b294-51f78a2b21e3142837-huong-dan-sao-chep-worpress-san- ten- mien-tren- cung-1- hosting.jpg', N'<p>Dịch vụ THIẾT KẾ WEBSITE Chuyên nghiệp với giá CỰC RẺ và nhiều ưu đãi tại CodeShare</p>', CAST(N'2021-03-17 00:00:00.000' AS DateTime), CAST(N'2021-03-18 09:52:23.393' AS DateTime), 1, 0, 1)
INSERT [dbo].[Programming_Knowledges] ([pk_id], [pk_name], [pk_img], [pk_content], [pk_datecreate], [pk_update], [pk_active], [pk_bin], [pk_option]) VALUES (8, N'CHUYỂN HOST HOẶC ĐỔI DOMAIN TRONG WORDPRESS DỄ DÀNG VỚI DUPLICATOR', N'notimg.png', NULL, CAST(N'2021-03-19 12:28:02.100' AS DateTime), CAST(N'2021-03-19 12:28:02.100' AS DateTime), 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Programming_Knowledges] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [user_name], [user_img], [user_email], [user_pass], [user_coin], [user_token], [user_datecreate], [user_update], [user_datelogin], [user_code], [user_active], [user_option], [user_bin], [user_dateofbirth]) VALUES (1, N'Trân', N'notimg.png', N'vuongbaot1905@gmail.com', N'123456', N'220', N'aaaaaa', CAST(N'2021-03-12 00:00:00.000' AS DateTime), CAST(N'2021-03-12 00:00:00.000' AS DateTime), CAST(N'2021-03-12 00:00:00.000' AS DateTime), N'aaa', 1, 0, 0, NULL)
INSERT [dbo].[Users] ([user_id], [user_name], [user_img], [user_email], [user_pass], [user_coin], [user_token], [user_datecreate], [user_update], [user_datelogin], [user_code], [user_active], [user_option], [user_bin], [user_dateofbirth]) VALUES (2, N'Tran', N'notimg.png', N'tran@gmail.com', N'123456', NULL, NULL, CAST(N'2021-03-18 16:07:43.690' AS DateTime), CAST(N'2021-03-18 16:07:43.690' AS DateTime), CAST(N'2021-03-18 16:07:43.583' AS DateTime), NULL, 1, 1, 1, NULL)
INSERT [dbo].[Users] ([user_id], [user_name], [user_img], [user_email], [user_pass], [user_coin], [user_token], [user_datecreate], [user_update], [user_datelogin], [user_code], [user_active], [user_option], [user_bin], [user_dateofbirth]) VALUES (3, N'Vuong Bao Tran', N'notimg.png', N'trantran7154@gmail.com', N'111111', NULL, N'74f69a18-3844-4f22-a5ef-ddbed089ec6a', CAST(N'2021-03-18 16:19:09.960' AS DateTime), CAST(N'2021-03-18 16:19:09.960' AS DateTime), CAST(N'2021-03-18 16:19:09.813' AS DateTime), N'#CODE0', 1, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[Withdrawals] ON 

INSERT [dbo].[Withdrawals] ([withdrawal_id], [withdrawal_coin], [withdrawal_datecreate], [withdrawal_update], [withdrawal_email], [withdrawal_tel], [withdrawal_active], [withdrawal_bin], [withdrawal_option], [user_id]) VALUES (2, 200, CAST(N'2020-12-22 00:00:00.000' AS DateTime), CAST(N'2020-12-22 00:00:00.000' AS DateTime), N'vuongbaot1905@gmail.com', N'0869139879', 0, 0, 0, 2)
SET IDENTITY_INSERT [dbo].[Withdrawals] OFF
ALTER TABLE [dbo].[CategoryGroup]  WITH CHECK ADD  CONSTRAINT [FK_CategoryGroup_Categorys] FOREIGN KEY([category_id])
REFERENCES [dbo].[Categorys] ([category_id])
GO
ALTER TABLE [dbo].[CategoryGroup] CHECK CONSTRAINT [FK_CategoryGroup_Categorys]
GO
ALTER TABLE [dbo].[CategoryGroup]  WITH CHECK ADD  CONSTRAINT [FK_CategoryGroup_Codes] FOREIGN KEY([code_id])
REFERENCES [dbo].[Codes] ([code_id])
GO
ALTER TABLE [dbo].[CategoryGroup] CHECK CONSTRAINT [FK_CategoryGroup_Codes]
GO
ALTER TABLE [dbo].[Categorys]  WITH CHECK ADD  CONSTRAINT [FK_Categorys_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Categorys] CHECK CONSTRAINT [FK_Categorys_Users]
GO
ALTER TABLE [dbo].[Codes]  WITH CHECK ADD  CONSTRAINT [FK_Codes_Banners] FOREIGN KEY([banner_id])
REFERENCES [dbo].[Banners] ([banner_id])
GO
ALTER TABLE [dbo].[Codes] CHECK CONSTRAINT [FK_Codes_Banners]
GO
ALTER TABLE [dbo].[Codes]  WITH CHECK ADD  CONSTRAINT [FK_Codes_Forms] FOREIGN KEY([form_id])
REFERENCES [dbo].[Forms] ([form_id])
GO
ALTER TABLE [dbo].[Codes] CHECK CONSTRAINT [FK_Codes_Forms]
GO
ALTER TABLE [dbo].[Codes]  WITH CHECK ADD  CONSTRAINT [FK_Codes_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Codes] CHECK CONSTRAINT [FK_Codes_Users]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Users]
GO
ALTER TABLE [dbo].[Favourites]  WITH CHECK ADD  CONSTRAINT [FK_Favourites_Codes] FOREIGN KEY([code_id])
REFERENCES [dbo].[Codes] ([code_id])
GO
ALTER TABLE [dbo].[Favourites] CHECK CONSTRAINT [FK_Favourites_Codes]
GO
ALTER TABLE [dbo].[Favourites]  WITH CHECK ADD  CONSTRAINT [FK_Favourites_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Favourites] CHECK CONSTRAINT [FK_Favourites_Users]
GO
ALTER TABLE [dbo].[Withdrawals]  WITH CHECK ADD  CONSTRAINT [FK_Withdrawals_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Withdrawals] CHECK CONSTRAINT [FK_Withdrawals_Users]
GO
USE [master]
GO
