
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-xl-12 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h5>Hoạt động của Người Dùng</h5>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                    <li><i class="fa fa-refresh reload-card"></i></li>
                    <li><i class="fa fa-trash close-card"></i></li>
                </ul>
            </div>
        </div>
        <!-- Lịch sử người dùng -->
        <style>
            .cr{
                overflow-y: auto;
                height: 800px;
            }
        </style>
        <div class="card-block">
            <div class="table-responsive cr">
                <table class="table table-hover m-b-0 without-header">
                    <tbody id="displayHistoryShow">
                        
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        // Proxy created on the fly
        var cus = $.connection.historyHub;
        // Declare a function on the job hub so the server can invoke it
        cus.client.displayHistoryShow = function () {
            getData();
        };
        // Start the connection
        $.connection.hub.start();
        getData();
    });
    function getData() {
        var $tbl = $('#displayHistoryShow');
        $.ajax({
            url: '/Admin/ViewAdmin/GetHistory',
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                $tbl.empty();
                $.each(data.list, function (i, model) {
                    $tbl.append
                        (
                            '<tr>' +
                            '<td>' +
                            '<div class="d-inline-block align-middle">' +
                            '<img src="/Content/LayoutAdmin/images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">' +
                            '<div class="d-inline-block">' +
                            '<h6>' + model.content + '</h6>' +
                            '<p class="text-muted m-b-0">' + model.date+'</p>'+
                                            '</div' +
                                    '</div>'+
                                '</td>'+
                                    '<td class="text-right">'+

                                '</td>'+
                            '</tr>'
                        );
                });
            }
        });
    }
</script>