@using CodeShare.Model.EF
@model CodeShare.Model.EF.Banner

@{
    ViewBag.Title = "Thêm Banner";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    DataShareCodeEntities db = new DataShareCodeEntities();
}

<div class="col-xl-12 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h5>@ViewBag.Title</h5>
            <div class="card-header-right">
                <a href="/Admin/BannersAdmin/Index" class="font-weight-bold mr-4">
                    <i class="fa fa-long-arrow-left text-primary"></i>TRỞ VỀ
                </a>
            </div>
        </div>
        <div class="card-block container-fluid">
            <div class="table-responsive">
                <form method="post" class="ui form" action="@Url.Action("Create","BannersAdmin")" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="ui form">
                            <div class="two fields">
                                <div class="field">
                                    <label><i class="fa fa-image"></i> Ảnh</label>
                                    <input type="file" name="img" />
                                </div>
                                <div class="field">
                                    <label><i class="fa fa-pencil"></i> Tên banner</label>
                                    <input type="text" name="banner_title">
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label><i class="fa fa-link"></i> Link banner</label>
                                    <input type="text" name="banner_link" />
                                </div>
                            </div>
                            <div class="ui error message"></div>
                        </div>
                    </div>
                    <div class="actions modal-footer">
                        <button type="submit" class="ui positive right labeled icon button">
                            Thêm
                            <i class="checkmark icon"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
