<link href="~/Content/Layout/404/CSS/Error.css" rel="stylesheet" />
<body class="bg-purple">
    <div class="stars">
        <div class="central-body">
            <img class="image-404" src="~/Content/Layout/404/Images/404.svg" width="300">
            <a href="@Url.Action("Index","Home")" class="btn-go-home" target="_blank">GO TO HOME</a>
        </div>
        <div class="objects">
            <img class="object_rocket" src="~/Content/Layout/404/Images/rocket.svg" width="40">
            <div class="earth-moon">
                <img class="object_earth" src="~/Content/Layout/404/Images/earth.svg" width="100">
                <img class="object_moon" src="~/Content/Layout/404/Images/moon.svg" width="80">
            </div>
            <div class="box_astronaut">
                <img class="object_astronaut" src="~/Content/Layout/404/Images/astronaut.svg" width="140">
            </div>
        </div>
        <div class="glowing_stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
    </div>
</body>
