<style>
    .main_nav_container {
        margin-right: 56px;
    }

    .main_nav_item a {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 700;
        color: #ffffff;
        text-transform: uppercase;
        padding-bottom: 10px;
        padding-top: 10px;
    }
</style>

<nav class="main_nav">
    <div class="container">
        <div class="row">
            <div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
                <div class="logo_container">
                    <div class="logo"><a href="/" class="text-capitalize"><svg id="color_line" height="30" viewBox="0 0 74 74" width="30" xmlns="http://www.w3.org/2000/svg" data-name="color line"><path d="m18.036 23.162h35.927v5h-35.927z" fill="#e1e6e9" transform="matrix(.898 -.441 .441 .898 -7.625 18.488)" /><path d="m20.975 36.321a.5.5 0 0 1 -.45-.28l-2.2-4.488a.511.511 0 0 1 -.024-.382.5.5 0 0 1 .253-.287l32.246-15.829a.5.5 0 0 1 .67.229l2.2 4.488a.511.511 0 0 1 .024.382.5.5 0 0 1 -.253.287l-32.241 15.829a.509.509 0 0 1 -.225.051zm-1.535-4.76 1.76 3.591 31.358-15.388-1.758-3.591z" fill="#323c6b" /><path d="m33.499 30.374h5v35.927h-5z" fill="#e1e6e9" transform="matrix(.441 -.898 .898 .441 -23.255 59.354)" /><path d="m51.023 59a.5.5 0 0 1 -.22-.051l-32.252-15.833a.5.5 0 0 1 -.253-.287.511.511 0 0 1 .024-.382l2.2-4.488a.5.5 0 0 1 .67-.229l32.255 15.829a.5.5 0 0 1 .253.287.511.511 0 0 1 -.024.382l-2.2 4.488a.5.5 0 0 1 -.453.284zm-31.583-16.561 31.36 15.388 1.763-3.591-31.363-15.388z" fill="#323c6b" /><circle cx="12.987" cy="37" fill="#27ccbc" r="9.987" /><circle cx="60.054" cy="16.44" fill="#05afd6" r="9.987" /><circle cx="60.054" cy="57.56" fill="#fcd462" r="9.987" /><path d="m22.97 37a9.956 9.956 0 0 1 -4.11 8.07 9.985 9.985 0 0 0 -8.87-14.56 9.9 9.9 0 0 0 -5.88 1.92 9.982 9.982 0 0 1 18.86 4.57z" fill="#21b3a9" /><path d="m70.04 16.44a9.956 9.956 0 0 1 -4.11 8.07 9.979 9.979 0 0 0 -14.75-12.64 9.982 9.982 0 0 1 18.86 4.57z" fill="#27a2db" /><path d="m70.04 57.56a9.956 9.956 0 0 1 -4.11 8.07 9.979 9.979 0 0 0 -14.75-12.64 9.982 9.982 0 0 1 18.86 4.57z" fill="#f7be56" /><g fill="#323c6b"><path d="m6.083 26.517a.5.5 0 0 1 -.267-.924c.2-.125.4-.249.606-.364a.5.5 0 0 1 .49.872c-.191.107-.377.222-.562.339a.5.5 0 0 1 -.267.077z" /><path d="m18.583 25.8a.512.512 0 0 1 -.217-.049 12.335 12.335 0 0 0 -8.891-.725.5.5 0 0 1 -.284-.959 13.341 13.341 0 0 1 9.609.782.5.5 0 0 1 -.217.951z" /><path d="m64.688 70.184a.5.5 0 0 1 -.18-.967 12.527 12.527 0 0 0 6.6-5.886.5.5 0 0 1 .887.463 13.526 13.526 0 0 1 -7.131 6.356.494.494 0 0 1 -.176.034z" /><path d="m61.312 70.974a.5.5 0 0 1 -.05-1l.134-.014c.137-.013.275-.026.41-.045a.5.5 0 1 1 .138.99c-.149.021-.3.036-.451.05l-.13.014z" /><path d="m12.465 47.487a10.487 10.487 0 1 1 10.487-10.487 10.5 10.5 0 0 1 -10.487 10.487zm0-19.974a9.487 9.487 0 1 0 9.487 9.487 9.5 9.5 0 0 0 -9.487-9.487z" /><path d="m59.533 26.927a10.487 10.487 0 1 1 10.487-10.487 10.5 10.5 0 0 1 -10.487 10.487zm0-19.973a9.487 9.487 0 1 0 9.487 9.486 9.5 9.5 0 0 0 -9.487-9.486z" /><path d="m59.533 68.046a10.487 10.487 0 1 1 10.487-10.486 10.5 10.5 0 0 1 -10.487 10.486zm0-19.973a9.487 9.487 0 1 0 9.487 9.487 9.5 9.5 0 0 0 -9.487-9.487z" /></g></svg> ShareThis</a></div>
                </div>
                <div class="main_nav_container ml-auto">
                    <ul class="main_nav_list">
                        <li class="main_nav_item dropdown">
                            <a href="#" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">danh mục</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <a class="dropdown-item"><i class="fa fa-code text-primary" style="font-weight: bold"></i>&nbsp;&nbsp;C#</a>
                            </div>
                        </li>
                        <li class="main_nav_item"><a href="about.html">top code</a></li>
                        <li class="main_nav_item"><a href="offers.html">code chất lượng</a></li>
                        <li class="main_nav_item"><a href="blog.html">code tham khảo</a></li>
                        <li class="main_nav_item"><a href="contact.html">code miễn phí</a></li>
                    </ul>
                </div>
                <div class="content_search ml-lg-0 ml-auto">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="17px" height="17px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                    <g>
                    <g>
                    <g>
                    <path class="mag_glass" fill="#FFFFFF" d="M78.438,216.78c0,57.906,22.55,112.343,63.493,153.287c40.945,40.944,95.383,63.494,153.287,63.494
								s112.344-22.55,153.287-63.494C489.451,329.123,512,274.686,512,216.78c0-57.904-22.549-112.342-63.494-153.286
								C407.563,22.549,353.124,0,295.219,0c-57.904,0-112.342,22.549-153.287,63.494C100.988,104.438,78.439,158.876,78.438,216.78z
								M119.804,216.78c0-96.725,78.69-175.416,175.415-175.416s175.418,78.691,175.418,175.416
								c0,96.725-78.691,175.416-175.416,175.416C198.495,392.195,119.804,313.505,119.804,216.78z" />



							</g>
						</g>
                    <g>
                    <g>
                    <path class="mag_glass" fill="#FFFFFF" d="M6.057,505.942c4.038,4.039,9.332,6.058,14.625,6.058s10.587-2.019,14.625-6.058L171.268,369.98
								c8.076-8.076,8.076-21.172,0-29.248c-8.076-8.078-21.172-8.078-29.249,0L6.057,476.693
								C-2.019,484.77-2.019,497.865,6.057,505.942z" />



							</g>
						</g>
					</g>
				</svg>
                </div>
                <form id="search_form" class="search_form bez_1">
                    <input type="search" class="search_content_input bez_1">
                </form>
                <div class="hamburger">
                    <i class="fa fa-bars trans_200"></i>
                </div>
            </div>
        </div>
    </div>
</nav>
