@using CodeShare.Model.EF
@model IEnumerable<CodeShare.Model.EF.Bill>

@{
    ViewBag.Title = "Quản lý hóa đơn";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/LayoutAdmin/css/switchIOS.css" rel="stylesheet" />

<div class="col-xl-12 col-md-12" ng-app="myApp">
    <div class="card table-card container-fluid" ng-controller="myCtrl">
        <div class="card-header">
            <h5>@ViewBag.Title</h5>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                    <li><i class="fa fa-refresh reload-card"></i></li>
                    <li><i class="fa fa-trash close-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="mt-3">TÌM KIẾM NÂNG CAO</h4>
                    <table class="mb-5 mt-3">
                        <tr class="two fields">
                            <td class="field">
                                <label class="font-weight-bold">Tìm kiếm: </label>
                                <div class="ui icon input" style="width: 250px">
                                    <input type="text" placeholder="VD: Trân..." ng-model="searchText">
                                    <i class="inverted circular search link icon"></i>
                                </div>
                            </td>
                            <td class="field">
                                <label class="ml-3 font-weight-bold">Tình trạng: </label>
                                <select class="ui search dropdown" ng-model="searchFull.active">
                                    <option value="">Tất cả</option>
                                    <option value="true">Hoạt động</option>
                                    <option value="false">Không hoạt động</option>
                                </select>
                            </td>
                            <td class="field">
                                <label class="ml-3 font-weight-bold">Sắp xếp theo: </label>
                                <select class="ui dropdown" ng-model="searchSort">
                                    <option value="searchText">Sắp xếp mặc định</option>
                                    <option value="searchText">Mặc định</option>
                                    <option value="user_name">Chữ cái</option>
                                    <option value="datecreate">Cũ nhất</option>
                                    <option value="searchText">Mới nhất</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="table-responsive container-fluid">
                <table class="table table-bordered text-center">
                    <tr>
                        <th class="font-weight-bold">
                            Tên Người Mua
                        </th>
                        <th class="font-weight-bold">
                            Giá
                        </th>
                        <th class="font-weight-bold">
                            Ngày Tạo
                        </th>
                        <th class="font-weight-bold">
                            Ngày Hết Hạn
                        </th>
                        <th class="font-weight-bold" width="120">
                            Hoạt Động
                        </th>
                        <th class="font-weight-bold">
                            Công Cụ
                        </th>
                    </tr>
                    <tbody ng-show="(list | filter:searchText).length != 0">
                        <tr ng-repeat="list in filteredTodos | filter: searchText | orderBy: searchSort | filter: searchFull">
                            <td class="font-weight-bold" width="200">{{list.user_name}}</td>
                            <td class="font-weight-bold">
                                <div ng-show="list.pk_coin > 0">{{list.pk_coin * 1000 | currency:"":0}} VNĐ</div>
                                <div ng-show="list.pk_coin == 0">MIỄN PHÍ</div>
                            </td>
                            <td>{{list.datecreate}}</td>
                            <td>{{list.dealine}}</td>
                            <td class="font-weight-bold">
                                <div ng-show="list.active == true">
                                    <label ontouchstart="" class="ios-switch">
                                        <input type="checkbox" ng-click="active(list.id)" id="checkbox" name="my-checkbox" checked>
                                        <span>
                                            <span class="ios-switch-inlay"></span>
                                            <span class="ios-switch-knob"></span>
                                        </span>
                                    </label>
                                </div>
                                <div ng-show="list.active == false">
                                    <label ontouchstart="" class="ios-switch">
                                        <input type="checkbox" ng-click="active(list.id)" id="checkbox" name="my-checkbox">
                                        <span>
                                            <span class="ios-switch-inlay"></span>
                                            <span class="ios-switch-knob"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td width="110">
                                <a href="/Admin/BillsAdmin/Edit?id={{list.id}}"><i class="fa fa-edit" style="font-size: 16px"></i></a> |
                                <a href="/Admin/BillsAdmin/Details?id={{list.id}}"><i class="fa fa-eye" style="font-size: 16px"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="(list | filter:searchText).length == 0">
                        <tr>
                            <th colspan="6" class="text-center font-weight-bold"><i class="fa fa-ban" style="color: red"></i> CHƯA CÓ DỮ LIỆU</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <center>
                <!-- Page List -->
                <pagination ng-model="currentPage" total-items="list.length" max-size="maxSize" boundary-links="true"></pagination>
            </center>
        </div>
    </div>
</div>
<script>
    var app = angular.module('myApp', ['ui.bootstrap']);
    app.controller('myCtrl', function ($scope, $http) {
        $http({
            method: "GET",
            url: "/Admin/JsonAdmin/Bills"
        }).then(function mySuccess(response) {
            //Giả định
            $scope.filteredTodos = []
                , $scope.currentPage = 1
                , $scope.numPerPage = 10
                , $scope.maxSize = 5;

            //Xác định list phân trang
            $scope.makeTodos = function () {
                $scope.list = response.data;
            }
            $scope.makeTodos();

            //Phân trang
            $scope.$watch('currentPage + numPerPage', function () {
                var begin = (($scope.currentPage - 1) * $scope.numPerPage)
                    , end = begin + $scope.numPerPage;

                $scope.filteredTodos = $scope.list.slice(begin, end);
            });
        }, function myError(response) {
            $scope.list = response.statusText;
        });
        // Active
        $scope.active = function (id) {
            $http.get("/Admin/BillsAdmin/ActiveBill?id=" + id)
                .then(function (response) {
                    $scope.list = response.data;
                });
        }
        // Search
        $scope.searchSort = "datecreate";
        $scope.searchSort = "user_name";
        $scope.searchSort = "searchText";
    });
</script>


