@using CodeShare.Model.EF;
@using CodeShare.Frontend.Functions;
@model User
@{
    ViewBag.Title = "Chats";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var co = new FunctionsController();
    var id = co.CookieID();
}
<style>
    .wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #651FFF
    }

    .main {
        background-color: #eee;
        width: 320px;
        position: relative;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 6px 0px 0px 0px
    }

    .scroll {
        overflow-y: scroll;
        scroll-behavior: smooth;
        height: 325px
    }

    .img1 {
        border-radius: 50%;
        background-color: #66BB6A
    }

    .name {
        font-size: 8px
    }

    .msg {
        background-color: #fff;
        font-size: 11px;
        padding: 5px;
        border-radius: 5px;
        font-weight: 500;
        color: #3e3c3c
    }

    .between {
        font-size: 8px;
        font-weight: 500;
        color: #a09e9e
    }

    .navbar {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }

    .form-control {
        font-size: 12px;
        font-weight: 400;
        width: 230px;
        height: 30px;
        border: none
    }

    form-control: focus {
        box-shadow: none;
        overflow: hidden;
        border: none
    }

    .form-control:focus {
        box-shadow: none !important
    }

    .icon1 {
        color: #7C4DFF !important;
        font-size: 18px !important;
        cursor: pointer
    }

    .icon2 {
        color: #512DA8 !important;
        font-size: 18px !important;
        position: relative;
        left: 8px;
        padding: 0px;
        cursor: pointer
    }

    .icondiv {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        padding: 2px;
        position: relative;
        bottom: 1px
    }
</style>
<div class="home" style=" height: 250px">
    <div class="home_background parallax-window" data-parallax="scroll" style="background-image: url('../../Images/Codes/blue-dark-background-brightness-megaphone-set-windows-web-programming-language-codes-gears-vector-illustration-111990452.jpg');"></div>
</div>
<div class="testimonials" style="background-color: #f0f0f0; font-family: Roboto,Arial,sans-serif;padding-top: 22px;" ng-app="myApp">
    <div class="test_border"></div>
    <div class="container" style="max-width: 1300px" ng-controller="myCtrl">
        <div class="row">
            <div class="col-lg-8 bg-white border shadow text-dark">
                <style>
                    #menu{
                        overflow-y: auto;
                        height: 500px;
                        overflow: auto;
                    }
                </style>
                <div id="menu" style="font-size: 30px">
                    <div id="tblchat">

                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12">
                        <input id="content" class="form-control w-100 border" style="height: 100px" placeholder="Nhập nội dung"/>
                        <button id="myBtn" style="display: none" class="btn btn-danger" ng-click="create(@Model.user_id)">go</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 bg-white border shadow">
                @Html.Action("All", "View")
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        // Proxy created on the fly
        var cus = $.connection.chatHub;
        // Declare a function on the job hub so the server can invoke it
        cus.client.displayChat = function () {
            getData();
        };
        // Start the connection
        $.connection.hub.start();
        getData();
    });
    function getData() {
        var $tbl = $('#tblchat');
        $.ajax({
            url: '/Tools/Get?id=@Model.user_id',
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                $tbl.empty();
                $.each(data.listChat, function (i, model) {
                    if (model.user_id != @id.user_id) {
                        $tbl.append
                            (
                                ' <div class="d-flex align-items-center text-right justify-content-end ">' +
                                ' <div class="pr-2">' +
                                '<span class="name">Dr. Hendrikson</span>' +
                                '<p class="msg">' + model.chat_content + '</p >' +
                                ' </div>' +
                                '<div><img src="https://i.imgur.com/HpF4BFG.jpg" width="30" class="img1" /></div>' +
                                ' </div>'
                            );
                    }
                    else {
                        $tbl.append
                            (
                                '<div class="d-flex align-items-center">' +
                                   ' <div class="text-left pr-1"><img src="https://img.icons8.com/color/40/000000/guest-female.png" width="30" class="img1" /></div>' +
                                    '<div class="pr-2 pl-1">' +
                                        '<span class="name">Sarah Anderson</span>' +
                                            '<p class="msg">'+model.content+'</p >'+
                                    '</div>' +
                                '</div>'
                            );
                    }
                });
            }
        });
    }
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
        $scope.create = function (id) {
            var content = document.getElementById("content").value;
            $http({
                method: "GET",
                url: "/Tools/Create?content=" + content
                    + "&idModel" + id
            }).then(function mySuccess(response) {
                $scope.list = response.data;
            }, function myError(response) {
                $scope.list = response.statusText;
            });

            document.getElementById("content").value = "";
        }
    });
</script>
<script>
    var input = document.getElementById("content");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("myBtn").click();
        }
    });
</script>

