@model IEnumerable<CodeShare.Model.EF.TakePrice>

@{
    ViewBag.Title = "Quản lý rút tiền";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/LayoutAdmin/css/switchIOS.css" rel="stylesheet" />

<div class="col-xl-12 col-md-12" ng-app="myApp">
    <div class="card table-card container-fluid" ng-controller="myCtrl">
        <div class="card-header">
            <h5>@ViewBag.Title</h5>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                    <li><i class="fa fa-refresh reload-card"></i></li>
                    <li><i class="fa fa-trash close-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <table class="mb-5 mt-5">
                        <tr class="two fields">
                            <td class="field">
                                <label class="font-weight-bold">Tìm kiếm: </label>
                                <div class="ui icon input" style="width: 250px">
                                    <input type="text" placeholder="VD: Trân..." ng-model="searchText">
                                    <i class="inverted circular search link icon"></i>
                                </div>
                            </td>
                            <td class="field">
                                <label class="ml-3 font-weight-bold">Sắp xếp theo: </label>
                                <select class="ui dropdown" ng-model="searchSort">
                                    <option value="searchText">Sắp xếp mặc định</option>
                                    <option value="searchText">Mặc định</option>
                                    <option value="user_name">Chữ cái</option>
                                    <option value="datecreate">Cũ nhất</option>
                                    <option value="searchText">Mới nhất</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="table-responsive container-fluid">
                <table class="table table-bordered text-center">
                    <tr>
                        <th class="font-weight-bold">
                            Tên Người Dùng
                        </th>
                        <th class="font-weight-bold">
                            Số Tiền Rút
                        </th>
                        <th class="font-weight-bold">
                            Mo Mo
                        </th>
                        <th class="font-weight-bold">
                            Ghi Chú
                        </th>
                        <th class="font-weight-bold">
                            Ngày Tạo
                        </th>
                        <th class="font-weight-bold" width="120">
                            Hoạt Động
                        </th>
                        <th class="font-weight-bold">
                            Công Cụ
                        </th>
                    </tr>
                    <tbody ng-show="(list | filter:searchText).length != 0">
                        <tr ng-repeat="list in list | filter: searchText | orderBy: searchSort | filter: searchCate">
                            <td class="font-weight-bold" width="200">{{list.user_name}}</td>
                            <td class="font-weight-bold">
                                <div ng-show="list.coin > 0">{{list.coin * 1000 | currency:"":0}} VNĐ</div>
                                <div ng-show="list.coin == 0">MIỄN PHÍ</div>
                            </td>
                            <td class="font-weight-bold">{{list.momo}}</td>
                            <td>{{list.note}}</td>
                            <td>{{list.datecreate}}</td>
                            <td class="font-weight-bold">
                                <div ng-show="list.active == 1" class="font-weight-bold text-success">
                                    DUYỆT
                                </div>
                                <div ng-show="list.active == 2" class="font-weight-bold text-danger">
                                    CHƯA DUYỆT
                                </div>
                            </td>
                            <td width="110">
                                <a ng-show="list.active == 2" ng-click="active(list.id)"><i class="check square outline icon" style="font-size: 16px"></i>|</a>
                                <a href="/Admin/TakePricesAdmin/Details?id={{list.id}}"><i class="fa fa-eye" style="font-size: 16px"></i></a>
                                <a ng-show="list.active == 1" ng-click="bin(list.id)"> | <i class="fa fa-trash" style="font-size: 16px"></i></a>
                            </td>
                            <!-- Success modal -->
                            <td class="modal" tabindex="-1" id="check">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body text-center font-18">
                                            <h3 class="mb-20">Duyệt Thành Công</h3>
                                            <div class="mb-30 text-center">
                                                <img src="~/Images/Modal/checked.png" />
                                            </div>
                                            <h6 class="mt-2">Tài khoản <b class="text-danger">{{list.user_email}}</b> đã rút tiền thành công!</h6>
                                        </div>
                                        <div class="modal-footer justify-content-center">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!-- Success modal -->
                            <td class="modal" tabindex="-1" id="bin">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body text-center font-18">
                                            <h3 class="mb-20">Hủy Thành Công</h3>
                                            <div class="mb-30 text-center">
                                                <img src="~/Images/Modal/checked.png" />
                                            </div>
                                            <h6 class="mt-2">Tài khoản <b class="text-danger">{{list.user_email}}</b> đã rút tiền không thành công!</h6>
                                        </div>
                                        <div class="modal-footer justify-content-center">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="(list | filter:searchText).length == 0">
                        <tr>
                            <th colspan="7" class="text-center font-weight-bold"><i class="fa fa-ban" style="color: red"></i> CHƯA CÓ DỮ LIỆU</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
        $http({
            method: "GET",
            url: "/Admin/JsonAdmin/TakePrices"
        }).then(function mySuccess(response) {
            $scope.list = response.data;
        }, function myError(response) {
            $scope.list = response.statusText;
        });
        // Check
        $scope.active = function (id) {
            $http.get(" /Admin/TakePricesAdmin/ActivePrice?id=" + id)
                .then(function (response) {
                    $scope.list = response.data;
                    $(document).ready(function () {
                        $('#check').modal('show');
                    })
                });
        }
        // Bin
        $scope.bin = function (id) {
            $http.get("/Admin/TakePricesAdmin/ActivePrice?id=" + id)
                .then(function (response) {
                    $scope.list = response.data;
                    $(document).ready(function () {
                        $('#bin').modal('show');
                    })
                });
        }
        // Search
        $scope.searchSort = "datecreate";
        $scope.searchSort = "user_name";
        $scope.searchSort = "searchText";
    });
</script>



